.ant-card {
    display: flex;
    flex-direction: row;
    height: 279px;
}

@media (max-width: 576px) {
    .ant-card {
        height: 245px;
    }
}

.ant-card-cover {
    display: flex;
    width: 183px;
    flex-shrink: 0;
}

@media (max-width: 576px) {

    .ant-card-cover {
        width: 60px;
        max-height: 91px;
        top: 6px;
        left: 10px;
    }
}
.spinner-wrapper {
    text-align: center;
}

.spinner {
    display: inline-block;
    margin: 25vh auto ;
}

.ant-card-body {
    padding: 12px 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media (max-width: 576px) {

    .ant-card-body {
        padding: 4px 10px 0;
        width: 100%;
    }
}

.movie {
    filter: drop-shadow(0px 4px 12px 0px rgba(0, 0, 0, 0.15));
}

h1.movie__title {
    font-style: normal;
    font-weight: 400;
    font-size: 20px!important;
    line-height: 28px;
    margin-bottom: 7px;
    color: black;
}

.movie__rating {
    display: flex;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 11px;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 15px;
    right: 25px;
}
.movie__rating--yellow {
    border: 2px solid #E9D100;
}
.movie__rating--red {
    border: 2px solid #E90000;
}
.movie__rating--green {
    border: 2px solid #66E900;
}
.movie__rating--orange {
    border: 2px solid #E97E00;
}
.movie__date {
    font-size: 12px;
    line-height: 22px;
    color: #827E7E;
    margin-bottom: 7px;
}

.movie__tag {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.65);
    background: #FAFAFA;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    padding: 4px;
    margin-bottom: 7px;
}

.movie__overview {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #000000;
}

.movie__stars {
    font-size: 14px!important;
    margin: auto 0 15px 0!important;
}